.articles-container {
  margin-top: 5vh;
  margin-bottom: 10vh;
  width: 70%;
  background-color: #ffffff;
  min-height: 100vh;
  margin-left: 15%;
  margin-right: 15%;
  padding: 5%;
  box-shadow: 2px 2px 2px 5px;
}

.heading {
  text-align: center;
  font-weight: 500;
  text-decoration: underline;
  color: grey;
}

.each-article {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-left: 15%;
  padding-right: 15%;
}

.article-title {
  color: #535353;
  font-size: 24px;
}

.article-topic-and-length {
  color: grey;
  font-size: 16px;
}

.article-image {
  width: 100%;
}

.article-text {
  color: #545454;
  font-weight: 500;
  font-size: 16px;
}

.article-button {
  background-color: #464646;
  color: #ffffff;
  border-radius: 15px;
  font-family: Roboto;
  font-weight: 600;
  height: 5vh;
  width: 8vw;
  min-height: 30px;
  min-width: 90px;
  border: none;
  margin-top: 3vh;
  margin-bottom: 6vh;
}

@media screen and (max-width: 768px) {
  .article-title {
    font-size: 20px;
  }

  .article-topic-and-length {
    color: grey;
    font-size: 16px;
  }

  .article-image {
    width: 100%;
  }

  .article-text {
    color: #545454;
    font-weight: 500;
    font-size: 20px;
  }

  .article-button {
  }
}
